---
---

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Inter+Tight:wght@600;700&display=fallback")
layer(base);

@import "tailwindcss";

@plugin '@tailwindcss/forms' {
  strategy: base;
}
@plugin '@tailwindcss/typography';

/* @custom-variant dark (&:is(.dark *)); */

@theme {
  --font-inter: Inter, sans-serif;
  --font-inter-tight: Inter Tight, sans-serif;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility social-icon {
  @apply w-8 h-8 rounded-full flex items-center justify-center bg-white border border-gray-200 shadow-xs text-gray-600 hover:text-gray-800 transition-colors;
}

/* Typography */
.h1 {
  @apply text-4xl font-[650];
}

.h2 {
  @apply text-2xl font-[650];
}

.h3 {
  @apply text-xl font-[650];
}

.h4 {
  @apply text-lg font-[650];
}

@media (width >= theme(--breakpoint-md)) {
  .h1 {
    @apply text-5xl;
  }

  .h2 {
    @apply text-3xl;
  }

  .h3 {
    @apply text-2xl;
  }
}

/* Buttons */
.btn,
.btn-sm {
  @apply text-sm font-medium inline-flex items-center justify-center rounded-full leading-5 whitespace-nowrap transition duration-150 ease-in-out;
}

.btn {
  @apply px-4 py-2;
}

.btn-sm {
  @apply px-4 py-1.5;
}

/* Forms */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.form-input,
.form-textarea,
.form-multiselect,
.form-select,
.form-checkbox,
.form-radio {
  @apply bg-gray-100 border border-gray-100 focus:border-sky-500 dark:bg-gray-700 dark:border-gray-700 focus:ring-0 focus:ring-offset-0;
}

.form-input,
.form-textarea,
.form-multiselect,
.form-select {
  @apply text-sm px-3 py-2 rounded-full dark:focus:border-sky-500;
}

.form-input,
.form-textarea {
  @apply placeholder-gray-400 dark:placeholder-gray-500;
}

.form-select {
  @apply pr-10;
}

.form-checkbox,
.form-radio {
  @apply text-sky-500 checked:bg-sky-600 checked:border-transparent dark:focus-visible:not-checked:border-sky-500;
}

.form-checkbox {
  @apply rounded-xs;
}

/* Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* Hamburger button */
.hamburger svg > *:nth-child(1),
.hamburger svg > *:nth-child(2),
.hamburger svg > *:nth-child(3) {
  transform-origin: center;
  transform: rotate(0deg);
}

.hamburger svg > *:nth-child(1) {
  transition: y 0.1s 0.25s ease-in,
    transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19), opacity 0.1s ease-in;
}

.hamburger svg > *:nth-child(2) {
  transition: transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger svg > *:nth-child(3) {
  transition: y 0.1s 0.25s ease-in,
    transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19),
    width 0.1s 0.25s ease-in;
}

.hamburger.active svg > *:nth-child(1) {
  opacity: 0;
  y: 11;
  transform: rotate(225deg);
  transition: y 0.1s ease-out,
    transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1),
    opacity 0.1s 0.12s ease-out;
}

.hamburger.active svg > *:nth-child(2) {
  transform: rotate(225deg);
  transition: transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger.active svg > *:nth-child(3) {
  y: 11;
  transform: rotate(135deg);
  transition: y 0.1s ease-out,
    transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1),
    width 0.1s ease-out;
}
