$breakpoint-ns: 'screen and (min-width: 480px)';

@mixin class($class) {
  .#{$class} {
    @content;

    @media #{$breakpoint-ns} {
      &-ns {
        @content;
      }
    }
  }
}

@include class(flex) {
  display: flex;
}

@each $px in 0, 10, 20, 30, 40, 50 {
  @include class(m#{$px}) {
    margin: $px * 1px;
  }

  @include class(mt#{$px}) {
    margin-top: $px * 1px;
  }

  @include class(mb#{$px}) {
    margin-bottom: $px * 1px;
  }

  @include class(ml#{$px}) {
    margin-left: $px * 1px;
  }

  @include class(mr#{$px}) {
    margin-right: $px * 1px;
  }

  @include class(mv#{$px}) {
    margin-top: $px * 1px;
    margin-bottom: $px * 1px;
  }

  @include class(mh#{$px}) {
    margin-left: $px * 1px;
    margin-right: $px * 1px;
  }
}
