---
layout: default
---

<!-- Header -->
<header class="text-center pt-6">
  <!-- Intro -->
  <div class="">
    <img
      class="inline-flex rounded-full shadow-lg mb-4"
      src="/assets/images/cube.png"
      width="48"
      height="48"
      alt="Karol Musur"
    />
    <div class="mb-5">
      <h2 class="font-inter-tight font-bold text-gray-800 text-2xl mb-1">
        Karol Musur
      </h2>
      <p class="text-sm text-gray-600">I make cool stuff.</p>
    </div>

    {% include social.html %}
  </div>
</header>

<!-- Content -->
<main class="grow py-12 prose prose-img:mx-auto prose-figure:text-center">
  <!-- back -->

  <a href="/" class="text-gray-600 text-sm">← Back to home</a>

  {% if page.cover %}
  <img src="{{ page.cover }}" alt="{{ page.title }}" />
  {% endif %}

  <span class="text-gray-600 text-sm">
    — {{ page.date | date: "%B %-d, %Y" }}
  </span>

  <h1>{{ page.title }}</h1>

  {{ content }}

  <a href="/" class="text-gray-600 text-sm">← Back to home</a>
</main>

{% include footer.html %}
